/*colors
*   #2D1E2F - Dark(text + containers bg[partly])
    #FFF - Background color
*   #FCF6B1 - A light color for underlining and decorating messages/texts;
*   #E3170A - Accent
*   #A9E5BB - Special blue color for only 1 thing in the website
*   #F7B32B - A yellow color just for fun.
*/

.btn {
    padding: 10px 25px;
    font-family: "Courier New", sans-serif;
    display: inline-block;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;

}

.btn.form__btn {
    margin-top: 20px;
    background-color: red;
}

.btn--accent {
    background-color: #e3170a;
    color: #fff;
    transform: scale(1);
    transition: transform .3s;
}

.btn--accent:hover{
    transform:scale(0.9);
}