.footer {
    background-color: #222;
    margin-top: 40px;
    padding: 40px;
}

.footer .footer__inner {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}