/*colors
*   #2D1E2F - Dark(text + containers bg[partly])
    #FFF - Background color
*   #FCF6B1 - A light color for underlining and decorating messages/texts;
*   #E3170A - Accent
*   #A9E5BB - Special blue color for only 1 thing in the website
*   #F7B32B - A yellow color just for fun.
*/

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: "Courier New", serif;
    font-size: 18px;
}

.shell {
    max-width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}