.header {
    background-color: #2D1E2F;
    color: #fff;
    padding: 20px 0;
    font-family: "Courier New", sans-serif;
    margin-bottom: 40px;
    position: relative;
}

.header .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: #fff;
    position: relative;
}

.header a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #FCF6B1;
    transition: all .3s ease;
}

.header a:hover:before {
    content: "";
    width: 100%;
}

ul.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

li + li {
    margin-left: 20px;
}

.header__login-error {
    position: absolute;
    bottom: -10px;
    background-color: red;
    opacity: 0;
    display: none;
    justify-content: center;
    align-content: center;
    width: 100%;
    z-index: 999;
}

.error-effect {
    display: flex;
    animation: disappear 3s ease;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}